// Custom configuration for nf-core/viralrecon pipeline

process {
    withName: 'PANGOLIN' {
        container = 'staphb/pangolin:4.3.1-pdata-1.25.1'
    }

    withName: 'NEXTCLADE_DATASETGET, NEXTCLADE_RUN' {
        container = 'quay.io/biocontainers/nextclade:2.14.0--h9ee0642_1'
    }

    withName: 'KRAKEN2' {
        container = 'quay.io/biocontainers/kraken2:2.1.2--pl5262hdfd78af_0'
        ext.args = params.kraken2_custom_options
    }
}

params {
    kraken2_custom_options = '--use-names --report kraken2_report.txt --db /home/ubuntu/Viralrecon/COVID/references/kraken2-all-db'
}
